.stopwatch {
  position: relative;
  display: flex;
  justify-content: center;
}

.stopwatch__clock-image {
  width: 300px;
  height: 300px;
  position: relative;
}

.stopwatch__hand-image {
  position: absolute;
  left: 48%;
  top: 75px;
  width: 40px;
  height: 150px;
  z-index: 2;
}

.stopwatch__hand {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 250px;
  height: 250px;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
  z-index: 2;
}

.stopwatch__hand::after {
  background: url("../../images/hand.png") 55% 50% no-repeat;
  background-size: cover;
  width: 50px;
  height: 130px;
  content: "";
  border-radius: 4px 4px 0 0;
  z-index: 4;
}
